
<div class="testimonials">
  <div class="inner">
  <h1>Features</h1>
  <div class="border"></div>

  <div class="row">
  <div class="col">
  <div class="testimonial">
    <a href="https://www.pcmag.com/encyclopedia/term/67090/cloud-ready">
      <img src="assets/images/cloud1.png" alt=""></a>
  <div class="name"> <a href="https://www.pcmag.com/encyclopedia/term/67090/cloud-ready"><h4>Cloud Ready</h4></a>
    <a href="https://www.pcmag.com/encyclopedia/term/67090/cloud-ready"><h6>Easily Deployable on Clouds</h6></a>
  </div>

  <p>Software and services that are designed to work over the Internet.
    For example, a cloud-ready printer connects to the Internet and accepts print jobs from any computer or mobile device that can access the Internet.
   See cloud based and cloud computing and <a href="https://www.pcmag.com/encyclopedia/term/67090/cloud-ready">more...</a></p>

  </div>
  </div>

    <div class="col">
  <div class="testimonial">
      <a href="https://www.thryv.com/blog/what-does-mobile-friendly-mean-6-definitions/">
  <img src="assets/images/mobi.jpeg" alt=""></a>
  <div class="name"><a href="https://www.thryv.com/blog/what-does-mobile-friendly-mean-6-definitions/">
  <h4> Mobile ready</h4></a>
    <a href="https://www.thryv.com/blog/what-does-mobile-friendly-mean-6-definitions/"><h6>Solution Support Smartphones And Tablets</h6></a>

  </div>


  <p>On April 21st, Google rolled out a new version of their search algorithm specifically for mobile searches.
    Now, if Google thinks your website isn’t “mobile friendly” it’s not going to show up in searches done on mobile devices.
    This should NOT affect how your site performs on desktop/laptop searches and <a href="https://www.thryv.com/blog/what-does-mobile-friendly-mean-6-definitions/
">more...</a></p>

  </div>
  </div>

  <div class="col">
    <div class="testimonial">
   <a href="https://www.interaction-design.org/literature/topics/ease-of-use">
     <img src="assets/images/ease.jpg" alt=""></a>
    <div class="name"><a href="https://www.interaction-design.org/literature/topics/ease-of-use">
    <h4> Ease Of Use</h4></a>
      <a href="https://www.interaction-design.org/literature/topics/ease-of-use"><h6>Developed Considering End User</h6></a>

    </div>


    <p>Ease of use is a straightforward concept –it's a measurement of how easy the finished product is to use by its intended users. Design is often a battle between trying to deliver functionality and trying to deliver ease of use. It͛s important to consider ease of use during the design phase and where possible accommodate the need for ease of use and <a href="https://www.interaction-design.org/literature/topics/ease-of-use">more...</a> </p>

    </div>
    </div>

    <div class="col">
      <div class="testimonial">
     <a href="https://www.pcmag.com/encyclopedia/term/50835/scalable">
       <img src="assets/images/highly.png" alt=""></a>
      <div class="name"><a href="https://www.pcmag.com/encyclopedia/term/50835/scalable">
      <h4> Highly Scalable</h4></a>
        <a href="https://www.pcmag.com/encyclopedia/term/50835/scalable"><h6>Extensible For Future Requirement</h6></a>
      </div>

      <p>Expandable. Referring to hardware or software, the term is a popular buzzword in the IT world. A "highly scalable" device or application implies that it can handle a large increase in users, workload or transactions without undue strain and
         <a href="https://www.pcmag.com/encyclopedia/term/50835/scalable">more...</a> </p>

      </div>
      </div>

      <div class="col">
          <div class="testimonial">
         <a href="https://www.collinsdictionary.com/dictionary/english/cost-effective">
           <img src="assets/images/cost.jpg" alt=""></a>
          <div class="name"><a href="https://www.collinsdictionary.com/dictionary/english/cost-effective">
          <h4> Cost Effective</h4></a>
            <a href="https://www.collinsdictionary.com/dictionary/english/cost-effective"><h6>Value For Money</h6></a>
          </div>

          <p>Something that is cost-effective saves or makes a lot of money in comparison with the costs involved. and
             <a href="https://www.collinsdictionary.com/dictionary/english/cost-effective">more...</a> </p>

          </div>
          </div>

  </div>
</div>
</div>





